<!--index-->
<form action="/" method="POST">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-6 col-xl-6">
      <div class="mb-3">

        {{#if shorterLink}}
        <!-- url output -->
        <h2 class="text-center">Success! Your shorten URL:</h2>

        <!-- copy button -->
        <div class="my-4 border border-2 border-primary rounded w-100 d-flex justify-content-center align-items-center"
          style="height: 70px;">
          <a id="short-url" class="h4 text-primary text-center" target="_blank" href="http://{{shorterLink}}">
            {{shorterLink}}
          </a>
        </div>
        <div class="w-100">
          <button type="button" id="copy-button" class="btn btn-success position-relative w-100 h-100 px-5">
            Copy
            <span id="copy-span" class="text-light position-absolute mt-1 fw-bold d-none"
              style="top:40%; right:0%;transform: translate(-50%, -50%);">Copied</span>
          </button>
        </div>

        <div class="mt-2">
          <a href="/">
            <button type="button" class="btn btn-secondary w-100 fw-bold px-5">
              Back
            </button>
          </a>
        </div>

        {{else}}
        <!-- url input -->
        <input class="form-control" type="text" name="url" id="url" {{#if url}}value="{{url}}" {{/if}}
          placeholder="http://www.google.com">
        {{#if errorMessage}}
        <span class="text-danger mt-0 mb-0">{{errorMessage}}</span>
        {{/if}}
        <!-- shorten button -->
        <div class="d-flex justify-content-center mt-3">
          <button type="submit" class="btn btn-primary position-relative px-5 w-100">
            Shorten
          </button>
        </div>
        {{/if}}


      </div>
    </div>
  </div>
</form>